
.social{
  margin-top: 20px;
  
}

.twitter{
  height: 50px;
  width: 20px;
  margin-right: 10px;
  color: #1d9bf0;
  }
  .instagram{
    height: 50px;
    width: 20px;
    margin-right: 10px;
    color: #E1306C;
    }
    .github{
      height: 50px;
      width: 20px;
      margin-right: 10px;
      color: #57606a;;
      }
      .linkedin{
        height: 50px;
        width: 20px;
        margin-right: 10px;
        color: #0a66c2;
        }